@media (min-width: 769px) {
    .resultGroup {
        width: 100%;
        clear: both;
        /*height: 200px;*/
        height: 77px;
    }

    .resultGroupColumn {
        float: left;
        clear: none;
        height: 60px;
        margin-top: 13px;
    }

    .tempContainer {
        line-height: 3em;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #FEAE3C;
    }

    .tempContainer .temp {
        height: inherit;
        float: left;
        clear: none;
        font-size: 5.2em;
    }

    .tempContainer .symbol {
        height: inherit;
        float: left;
        clear: none;
        font-size: 2.1em;
        text-align:top;
        line-height: 0.5;
    }

    .hiLoIconContainer {
        height: inherit;
        line-height: 2;
        margin-left: 3px;
    }

    .iconContainer {
    }

    .hiLoContainer {
    }

    .high {
        font-weight: bold;
        color: #D5202A;
    }

    .low {
        font-weight: bold;
        color: #0053AE;
    }

    .humPressContainer {
        height: inherit;
        margin-left: 45px;
        padding-top: 11px;
        line-height: 1.5;
    }

    .windContainer {
        height: inherit;
        margin-left: 50px;
        padding-top: 11px;
        line-height: 1.5;
    }

    .forecastHeader {
        margin-top: 42px;
        padding-top: 0px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: #337AB7;
        color: #FFFFFF;
        margin-bottom: 11px;
    }

    .divider {
        width: 100%;
        height: 4px;
        margin-top: 25px;
        padding-left: 30px;
        padding-right: 30px;
        border-top: 1px solid rgba(34, 36, 38, 0.15);
        clear: both;
    }
}

/*end media 769*/
@media (min-width: 320px) {

    /*TODO: implement styles for small screens*/
}

.siteTitle {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 7px;
}

.forecastToggle {
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 1.3em;
}