<div ng-controller="weatherCtrl">
    <div class="panel panel-primary" ng-repeat="weatherIndex in weatherIndices">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-3 col-md-3">&nbsp;</div>
                    <div class="col-lg-6 col-md-6 title">{{weatherIndex.data.name}} &nbsp; {{weatherIndex.config.params.zip | zip:0}}</div>
                    <div class="col-lg-3 col-md-3 moreIcon">
                        <span ng-click="getFiveDayForcast($index)">5 Day Forecast&nbsp;
                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="showCaretDown"></i>
                            <i class="fa fa-caret-down" aria-hidden="true" ng-hide="showCaretDown"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <index-result result="weatherIndex.data"></index-result>

                <div class="resultGroup" ng-repeat="day in weatherIndicesFiveDay[$index]" style="clear:left;">
                    <index-result result="day"></index-result>
                </div>
            </div>
    </div>
</div>